.z-index--1 {
    z-index: -1;
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.z-index-3 {
    z-index: 3;
}

.z-index-10 {
    z-index: 10;
}

.z-index-100 {
    z-index: 100;
}

.z-index-200 {
    z-index: 200;
}

.bg-padding {
    padding: $spacer*2 0;
}

.block__tint-overlay {
    opacity: .65;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(14, 122, 105);
    background: linear-gradient(252deg, #edfffc 0%, #556fbc 100%);
    mix-blend-mode: multiply;
}

main {
    overflow-x: hidden;
}

.bg-white {
    background-color: #fff;
}

.v-hidden {
    visibility: hidden !important;
    @include media-breakpoint-down(md) {
        display: none !important;
    }
}

table.contact-details {
    * {
        background-color: transparent;
        box-shadow: none;
        border-bottom: none;
    }
}
.tribe-common-l-container.tribe-events-l-container {
    @extend .container;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-l-container {
    min-height: 500px;
    padding: $spacer*2 0 $spacer*2;
}
.img--holder {
    overflow: visible;
    display: block;
    @include media-breakpoint-up(lg) {
        margin-top: $spacer*3;
        min-height: 400px;
        height: 20px;
        .the--img {
            position: absolute;
        }
    }
    @include media-breakpoint-down(lg) {
        .the--img {
            max-width: 100%;
            height: auto;
        }
    }
}

.wp-block-table table {
    @extend .table;
    @extend .table-hover;
    @extend .table-striped;
    @extend .table-info;
    tr, td {
        border-color: #ccc !important;
    }
    thead {
        border-color: #ccc !important;
        tr, th {
            border-color: #ccc !important;
        }
        th {
            background-color: transparent;
        }
    }
}

.standard-height {
    @include media-breakpoint-up(md) {
        min-height: $spacer*5;
    }
}
.the--icon {
    width: 60px;
    height: 76px;
    top: 0;
    right: $spacer;
    text-align: end;
    @include media-breakpoint-up(md) {
        width: 160px;
        height: 100px;
    }
    @include media-breakpoint-up(xxl) {
        right: $spacer*3;
    }
    img {
        width: 100%;
        height: 100%;
        object-position: center;
        mix-blend-mode: multiply;
    }
}
.font-page {
    .blue-highlight {
        strong {
            color: $primary !important;
        }
    }
}
.hero--img {
    @include media-breakpoint-up(lg) {
        max-width: 712px;
    }
}

.tribe-events-event-image img {
    @extend .img-fluid;
    @extend .d-block;
}
#tribe-events-pg-template {
    max-width: 820px;
}
