.footer-form {
    position: relative;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 12.4px;
    width: 96%;
    margin: auto;
    margin-top: -$spacer*3;
    z-index: 1;
    @include media-breakpoint-up(lg) {
        margin: 0;
        left: 0;
        position: absolute;
        width: 48vw;
        transform: translate(0%, -50%); /* This centers the div */
        top: 50%;
        max-width: 904px;
    }
}

footer {

        @include media-breakpoint-up(md) {
            .footer-max-md-width {
                max-width: $spacer*10;
        }
    }

    .container {
        border-top: 4px solid $primary;
    }

    .footer-bc-logo {
        width: auto;
        height: $spacer*4;
    }

    .footer-skatecanda-logo {
        width: auto;
        height: $spacer*4;
    }

    .footer-nav {
        padding-left: 0;
        width: 100%;
        list-style: none;
        text-align: center;
        @include media-breakpoint-up(lg) {
            padding-right: $spacer;
            display: flex;
            justify-content: flex-end;
        }

        .nav-link {
            font-size: .8rem;
            text-transform: uppercase;
            color: white;
            margin-bottom: $spacer/2;
            font-weight: 600;

            &.active {
                color: #76a64e;
            }

            @include media-breakpoint-up(lg) {
                margin-left: $spacer;
                margin-bottom: 0;
            }
        }
    }

}

.footer-logo {
    width: 200px;
    height: auto;
}

footer {
    #menu-footer-menu {
        margin-bottom: $spacer;

        .nav-link {
            color: white;
            font-size: 12px;
            font-weight: 600;
            line-height: 1.85;
            padding: 0;
            text-decoration: underline;
        }
    }
}
