.hero-nav-overlay {

    #main-menu {
        @include media-breakpoint-up(lg) {
            .menu-item:first-child {
                padding-left: 0;
                .nav-link {
                    padding-left: 0;
                }
            }
        }
    }

    .navbar {
        background-color: transparent;
        padding: 0;

        @include media-breakpoint-up(lg) {
            display: block;
            .container {
                display: block;
                width: 100%;
            }
        }
    }

    .nav-item {
            padding-left: $spacer/2;
    }

    .nav-link {
        font-size: 1rem;
        font-weight: 400;
        color: $body-color;
        &:hover, &:active {
            color: darken($primary, 25%);
        }
        &.active {
            font-weight: 700;
            color: #008899;
        }
    }

    .navbar-toggler {
        background: transparent;
        outline: none;
        padding: 0;
        border-color: transparent;
        margin-top: -2px;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.76929' y='4' width='18.4615' height='3' rx='1.5' fill='%23070707'/%3E%3Crect x='2.76929' y='11' width='18.4615' height='3' rx='1.5' fill='%23070707'/%3E%3Crect width='18.4546' height='3' rx='1.5' transform='matrix(0.999994 -0.00350961 0.00236103 0.999997 2.76929 18.0648)' fill='%23070707'/%3E%3C/svg%3E%0A");
    }

    .nav-logo img {
        width: $spacer*19;
        height: auto;
    }


    @include media-breakpoint-down(lg) {

        .nav-logo img {
            width: $spacer*10;
            height: auto;
        }
    }
    @include media-breakpoint-down(xs) {

        .nav-logo img {
            width: $spacer*8;
            height: auto;
        }
    }
}

.contact-details {
    p {
        font-weight: 700;
    }
    i {
        font-size: 28px;
        margin-left: 5px;
    }
    @include media-breakpoint-down(xs) {
        i {
            font-size: 20px;
            margin-left: 0;
        }
    }
}
a.social-link {
    &:hover, &:active {
        color: darken($primary,5%) !important;
    }
}
.dropdown-menu {
    border-radius: 2px;
    padding-top: 0;
    padding-bottom: 0;
    border-color: #ced7d9;
    overflow: hidden;
    .nav-item {
        padding: 0;
        .dropdown-item {
            padding-left: 8px;
            padding-right: 8px;
        }
    }
}
