// Responsive font sizing
html {
    font-size: 15px;
}

// Sets font size to 16px on form elements to prevent input zoom on mobile devices
@include media-breakpoint-down(sm) {
    .form-control {
        font-size: $font-size-base * 1.075;
    }
}

// Global

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: $font-family-sans-serif;
    -webkit-overflow-scrolling: touch;
    line-height: 1.6;
}

.small, small {
    font-size: 70%;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
    margin-bottom: $spacer*.75;
    font-weight: 600;
}

h1, .h1 {
    font-size: 2.45rem;
    line-height: 1.2;
    @include media-breakpoint-up(xl) {
        font-size: 3rem;
    }
}

h2, .h2 {
    font-size: 1.45rem;
    line-height: 1.7;
    @include media-breakpoint-up(xl) {
        font-size: 2rem;
    }
}
.text-media-blocked {
    h1, .h1, h2, .h2 {
        max-width: 400px;
    }
}

h3, .h3 {
    font-size: 1.1rem;
    font-weight: 600;
    @include media-breakpoint-up(xl) {
        font-size: 1.5rem;
    }
}

h4, .h4, .fz-faq {
    font-size: 1rem;
    font-weight: 600;
    @include media-breakpoint-up(xl) {
        font-size: 1.25rem;
    }
}

h5, .h5 {
    font-size: .95rem;
    font-weight: 600;
    @include media-breakpoint-up(xl) {
        font-size: 1rem;
    }
}

h6, .h6 {
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
}
.lead {
    font-weight: 400;
    font-size: 1.1rem;
    @include media-breakpoint-up(xl) {
        font-size: 1.5rem;
    }
}
p {
    margin-bottom: $spacer;
}
.p {
    font-size: 1rem !important;
}

.intro {
    font-size: 1.25rem;
    font-weight: 600;
    @include media-breakpoint-up(xxl) {
        font-size: 1.6rem;
    }
}

.spaced-list {
    padding: 0 0 0 22px;
}

.spaced-list li {
    margin-bottom: .5rem;
}

.text-md {
    font-size: 90%;
}

.list-unstyled li {
    padding-bottom: .25rem;

    &:last-of-type {
        padding-bottom: 0;
    }
}

.list-unstyled {
    margin-bottom: 1rem;
}

.small-0 {
    font-size: .8rem;
}
.small-1 {
 font-size: .88rem;
}
.small-2 {
    font-size: .9rem;
}
.text-white {
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        color:white;
    }
}
.fw-bold {
    font-family: $font-family-sans-serif;
    font-weight: 600 !important;
}
